div.game {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
}

canvas.game--canvas {
    width: 100%;
    height: 100%;
    display: block;
}

div.mainMenu {
    position: relative;
    text-align: center;

    z-index: -1;
    opacity: 0;
    visibility: hidden;

    transition: opacity 200ms, z-index 200ms 200ms, visibility 200ms 200ms;
}

div.mainMenu-visible {
    z-index: 1;
    opacity: 1;
    visibility: visible;

    transition: opacity 200ms, z-index 200ms 0ms, visibility 200ms 0ms;
}

h1.mainMenu--title {
    font-size: 80px;
    color: white;
    letter-spacing: 7px;
}

ul.mainMenu--items {
    padding: 0;
    list-style: none;
}

li.mainMenu--item {
    margin: 5px 0;
}

button.mainMenu--button {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 5px 10px;
    font-size: 24px;
    width: 300px;
}

select.mainMenu--select {
    width: 300px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: 0;
    padding: 5px 10px;
    -webkit-appearance: initial;
    border-radius: 0;
    font-size: 24px;
}

div.mainMenu--label {
    display: inline-block;
    color: #ccc;
    width: 300px;
    font-size: 14px;
    font-style: italic;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
}

.overlay-visible {
    display: block;
}


div.dropOverlay {
    border: 20px white dashed;
}

div.dropOverlay h1 {
    position: absolute;
    color: white;
    font-size: 80px;
    top: 50%;
    margin-top: -40px;
    left: 0;
    right: 0;
    text-align: center;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -25px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: white;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}